In [7]:
import numpy as np
import pandas as pd

In [8]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
data = [['anna',76],['naya',65],['para',89]]
df = pd . DataFrame(data,columns = ['NAME','AGGREGATE'])
print(df)

   NAME  AGGREGATE
0  anna         76
1  naya         65
2  para         89

In [12]:
data = {'NAME' : ['Anna','Shreaya','Priya'],'MARKS':[98,76,46]}
df = pd.DataFrame(data)
print(df)

      NAME  MARKS
0     Anna     98
1  Shreaya     76
2    Priya     46

In [14]:
data = [{'Name':'navya','Marks':90},{'Name':'kian','Marks':88},{'Name':'Rama'}]
df = pd.DataFrame(data,index = ['Stud 1','Stud 2','Stud 3'])
print(df)

         Name  Marks
Stud 1  navya   90.0
Stud 2   kian   88.0
Stud 3   Rama    NaN

In [1]:
import numpy as np
import pandas as pd

In [ ]:
data = {' Kaira': pd.Series([89,90,78],index = ['M1','M2','M3']),'Meera': pd. Series([97,75,75],index = ['M1','M2','M3'])}
df = pd.DataFrame(data)
name = input(" kaira")
print(df[Meera])

In [1]:
import numpy as np
import pandas as pd

In [7]:
data = {'kaira' : pd. Series([89,90,78],index = ['M1','M2','M3']),
       'mera': pd.Series([86,87,94,64],index = ['M1','M2','M3','M4']),
       'Sana': pd .Series([89,56,95,95],index =['M1','M2','M3','M4'])}
df = pd.DataFrame(data)
print(df)
#deleting a column
del df(Mera)
print(df)

SyntaxError: cannot delete function call (1341294723.py, line 7)

In [4]:
data = { 'kaira': pd. Series([89,90,78],index =['M1','M2','M3']),
       'Meera' : pd. Series([85,87,88,92],index =['M1','M2','M3','M4']),
        'Shaina': pd.Series([98,90,85,53],index =['M1','M2','M3','M4']),
       'Harman': pd.Series([48,52,67,71],index =['M1','M2','M3','M4'])}
df = pd.DataFrame(data)
print(df)
del df['Shaina']
print(df)

    kaira  Meera  Shaina  Harman
M1   89.0     85      98      48
M2   90.0     87      90      52
M3   78.0     88      85      67
M4    NaN     92      53      71
    kaira  Meera  Harman
M1   89.0     85      48
M2   90.0     87      52
M3   78.0     88      67
M4    NaN     92      71

In [9]:
data = {'Kaira' : pd.Series([89,98,96,],index = ['M1','M2','M3']),
       'Meera' : pd. Series([85,87,96,88],index = ['M1', 'M2','M3','M4']),
       'Shaina' : pd. Series([98,79,90,85],index = ['M1','M2','M3','M4']),
       'Harman' : pd. Series([67,78,87,54],index = ['M1','M2','M3','M4'])}
df = pd.DataFrame(data)
print(df)
print("Mark obtainted by students in second subject(M2) :")
print(df.loc['M2'])
print(df. iloc[1])
print("Marks obtained  by students in second subject (M2)and third subject (M3):")
print(df[1:3])

    Kaira  Meera  Shaina  Harman
M1   89.0     85      98      67
M2   98.0     87      79      78
M3   96.0     96      90      87
M4    NaN     88      85      54
Mark obtainted by students in second subject(M2) :
Kaira     98.0
Meera     87.0
Shaina    79.0
Harman    78.0
Name: M2, dtype: float64
Kaira     98.0
Meera     87.0
Shaina    79.0
Harman    78.0
Name: M2, dtype: float64
Marks obtained  by students in second subject (M2)and third subject (M3):
    Kaira  Meera  Shaina  Harman
M2   98.0     87      79      78
M3   96.0     96      90      87

In [15]:
df1 = pd.DataFrame([[89,93],[67,76]],columns = ['Meera','Sheena'])
df2 = pd.DataFrame([[77,84],[87,92]],columns = ['Meera','Sheena'])
df1 = df1.append(df2)
print(df1)
df1 = df1.drop(1)
print('Data Frame after deleting row 1 :')
print(df1)

AttributeError: 'DataFrame' object has no attribute 'append'

In [4]:
import math
def abs(x):
    if x>1:
       return x
    else:
        return(-x)
    S = pd . Series(10*np.random.randn(5))
    
     print("ORIGINAL VALUES ARE : ")
        print(S)
        df = pd.DataFrame(S)
        df = df.applymap(abs)
        print("DATA FRAME WITH ABSOLUTE VALUES IS: ")
        print(df)

IndentationError: unexpected indent (3292879720.py, line 9)

In [5]:
import pandas as pd
df =pd.DataFrame({"A":[12,4,5,None,1],
                  "B":[7,2,54,3,None],
                  "C":[20,16,11,3,8],
                  "D":[14,3,None,2,6]})
df.index = ['Row1','Row2','Row3','Row4','Row5']
print(df)
result = df.transform(func = ['sqrt','exp'])
print(result)

         A     B   C     D
Row1  12.0   7.0  20  14.0
Row2   4.0   2.0  16   3.0
Row3   5.0  54.0  11   NaN
Row4   NaN   3.0   3   2.0
Row5   1.0   NaN   8   6.0
             A                        B                       C                \
          sqrt            exp      sqrt           exp      sqrt           exp
Row1  3.464102  162754.791419  2.645751  1.096633e+03  4.472136  4.851652e+08
Row2  2.000000      54.598150  1.414214  7.389056e+00  4.000000  8.886111e+06
Row3  2.236068     148.413159  7.348469  2.830753e+23  3.316625  5.987414e+04
Row4       NaN            NaN  1.732051  2.008554e+01  1.732051  2.008554e+01
Row5  1.000000       2.718282       NaN           NaN  2.828427  2.980958e+03

             D
          sqrt           exp
Row1  3.741657  1.202604e+06
Row2  1.732051  2.008554e+01
Row3       NaN           NaN
Row4  1.414214  7.389056e+00
Row5  2.449490  4.034288e+02

In [6]:
import pandas as pd
import numpy as np

In [11]:
zoo = pd.read_csv('zoo.csv',delimiter = ',')
print("Data in zoo.csv :")
print(zoo)

FileNotFoundError: [Errno 2] No such file or directory: 'zoo.csv'